<template>
  <div class="row q-mb-sm">
    <q-input
      outlined
      label="Due date"
      class="col"
      :value="dueDate"
      @input="$emit('update:dueDate', $event)"
      mask="date"
    >
      <template v-slot:append>
        <q-icon
          v-if="dueDate"
          name="cancel"
          @click="$emit('clear')"
          class="cursor-pointer"
        />
        <q-icon
          name="event"
          class="cursor-pointer"
        >
          <q-popup-proxy>
            <q-date
              :value="dueDate"
              @input="$emit('update:dueDate', $event)"
            />
          </q-popup-proxy>
        </q-icon>
      </template>
    </q-input>
  </div>
</template>

<script>
export default {
  props: ['dueDate']
}
</script>