<template>
  <div class="row q-mb-sm">
    <q-input
      outlined
      :value="name"
      @input="$emit('update:name', $event)"
      autofocus
      v-select-all
      clearable
      :rules="[val => !!val || 'Field is required']"
      label="Task name"
      class="col"
    />
  </div>
</template>

<script>
import { selectAll } from 'src/directives/directive-select-all'
export default {
  props: ['name'],
  directives: {
    selectAll
  }
}
</script>