<template>
  <q-card>
    <modal-header>Add Task</modal-header>

    <q-form @submit.prevent="submitForm">
      <q-card-section>

        <modal-task-name :name.sync="taskToSubmit.name" />

        <modal-due-date
          :dueDate.sync="taskToSubmit.dueDate"
          @clear="clearDueDate"
        ></modal-due-date>

        <modal-due-time
          :dueTime.sync="taskToSubmit.dueTime"
          @clear="clearDueTime"
          v-if="taskToSubmit.dueDate"
        ></modal-due-time>

        <modal-buttons></modal-buttons>

      </q-card-section>

    </q-form>
  </q-card>
</template>

<script>
import { mapActions } from 'vuex'
import mixinAddEditTask from 'src/mixins/mixin-add-edit-task'
export default {
  mixins: [mixinAddEditTask],
  data () {
    return {
      taskToSubmit: {
        name: '',
        completed: false,
        dueDate: '',
        dueTime: ''
      }
    }
  },
  methods: {
    ...mapActions('tasks', ['addTask']),
    submitForm () {
      this.addTask(this.taskToSubmit)
      this.$emit('close')
    }
  }
}
</script>

<style scoped>
</style>