<template>
  <q-card-actions align="right">
    <q-btn
      outlined
      label="Save"
      color="primary"
      type="submit"
    />
  </q-card-actions>
</template>

<script>
export default {

}
</script>