<template>
  <div class="row q-mb-sm">
    <q-input
      outlined
      :value="name"
      @input="$emit('update:name', $event)"
      autofocus
      clearable
      :rules="[val => !!val || 'Field is required']"
      label="Task name"
      class="col"
    />
  </div>
</template>

<script>
export default {
  props: ['name']
}
</script>