<template>
  <!--
	Awesome Exercise 2 - Vue.js Lists & Components

	X 1) Create an array for the food items you see on the page. Each object in the array should contain properties for the image url, name, description and deliciousness
	X 2) Create a v-for loop that displays these food items onto the page, with all the data coming from the food array (hint: for the image src, use :src)
	X 3) Add your own food item to the list
	X 4) Create a child component and use it to display each of your items (don't use the components/Solution/Food.vue file)
	X 5) Add unique id's to the food array for each item, and apply these to a :key property on your v-for loop

	-->
  <q-page padding>
    <div class="q-pa-md row items-stretch">

      <food
        v-for="food in foods"
        :key="food.id"
        :food="food"
      ></food>

    </div>
  </q-page>
</template>

<script>
export default {
  data () {
    return {
      foods: [
        {
          id: 1,
          name: 'Burger',
          descr: 'A burger is a sandwich consisting of one or more cooked patties of ground meat, usually beef, placed inside a sliced bread roll or bun.',
          delic: 4,
          img: 'https://i.imgur.com/0umadnY.jpg'
        },
        {
          id: 2,
          name: 'Pizza',
          descr: 'Pizza is a savory dish of Italian origin, consisting of a usually round, flattened base of leavened wheat-based dough.',
          delic: 5,
          img: 'https://i.imgur.com/b9zDbyb.jpg'
        },
        {
          id: 3,
          name: 'Sprouts',
          descr: 'The Brussels sprout is a member of the Gemmifera Group of cabbages, grown for its edible buds.',
          delic: 1,
          img: 'https://i.imgur.com/RbKjUjB.jpg'
        },
        {
          id: 4,
          name: 'Curry',
          descr: 'Curry is a variety of dishes originating in the Indian subcontinent that use a complex combination of spices or herbs, usually including ground turmeric, cumin, coriander, ginger, and fresh or dried chilies. Curry is generally prepared in a sauce.',
          delic: 5,
          img: 'https://i.imgur.com/TDQAB2h.jpg'
        }
      ]
    }
  },
  components: {
    'food': require('components/Food.vue').default
  }
}
</script>

<style>
.card {
  flex-basis: 210px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.card img {
  max-width: 100%;
}
.card-content {
  padding: 0 10px;
}
h1 {
  font-size: 23px;
}
p {
  font-size: 14px;
}
</style>
