<template>
  <q-card>
    <q-card-section class="row">
      <div class="text-h6">Alert</div>
      <q-space />
      <q-btn
        v-close-popup
        flat
        round
        dense
        icon="close"
      />
    </q-card-section>

    <q-form @submit.prevent="submitForm">
      <q-card-section>
        <div class="row q-mb-sm">
          <q-input
            outlined
            v-model="taskToSubmit.name"
            autofocus
            clearable
            :rules="[val => !!val || 'Field is required']"
            label="Task name"
            class="col"
          />
        </div>

        <div class="row q-mb-sm">
          <q-input
            outlined
            label="Due date"
            class="col"
            v-model="taskToSubmit.dueDate"
            mask="date"
          >
            <template v-slot:append>
              <q-icon
                v-if="taskToSubmit.dueDate"
                name="cancel"
                @click="clearDueDate"
                class="cursor-pointer"
              />
              <q-icon
                name="event"
                class="cursor-pointer"
              >
                <q-popup-proxy>
                  <q-date v-model="taskToSubmit.dueDate" />
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </div>

        <div
          v-if="taskToSubmit.dueDate"
          class="row q-mb-sm"
        >
          <q-input
            outlined
            label="Due time"
            class="col"
            v-model="taskToSubmit.dueTime"
          >
            <template v-slot:append>
              <q-icon
                v-if="taskToSubmit.dueTime"
                name="cancel"
                @click="clearDueTime"
                class="cursor-pointer"
              />
              <q-icon
                name="access_time"
                class="cursor-pointer"
              >
                <q-popup-proxy
                  transition-show="scale"
                  transition-hide="scale"
                >
                  <q-time v-model="taskToSubmit.dueTime" />
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </div>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn
          outlined
          label="Save"
          color="primary"
          type="submit"
        />
      </q-card-actions>
    </q-form>
  </q-card>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  data () {
    return {
      taskToSubmit: {
        name: '',
        completed: false,
        dueDate: '',
        dueTime: ''
      }
    }
  },
  methods: {
    ...mapActions('tasks', ['addTask']),
    submitForm () {
      this.addTask(this.taskToSubmit)
      this.$emit('close')
    },
    clearDueDate () {
      this.taskToSubmit.dueDate = null
      this.taskToSubmit.dueTime = null
    },
    clearDueTime () {
      this.taskToSubmit.dueTime = null
    }
  }
}
</script>

<style scoped>
</style>