<template>
  <q-page>
    <q-btn 
      to="/settings"
      flat 
      color="primary"
      icon="chevron_left"
      label="Back"
    />
    <h5>How to use Awesome Todo</h5>
    <p>Stuff stuff stuff</p>
  </q-page>
</template>

<script>
export default {
    
}
</script>